<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
	<title>相册管理管理</title>
</head>

<body>
<!-- 导航 -->
<nav th:replace="admin/_fragments :: menu(4)"></nav>
<br>

<!-- 中间内容 -->
<div class="m-container-small m-padded-tb-big">
	<div class="ui container">
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a class="item" href="#" th:href="@{/admin/pictures/input}">新增</a>
					<a class="active teal item" href="#" th:href="@{/admin/pictures}">列表</a>
				</div>
			</div>
		</div>

		<div class="ui attached secondary segment">
			<table class="ui center aligned compact celled teal table">
				<thead>
				<tr>
					<th>ID</th>
					<th>图片名称</th>
					<th>时间地点</th>
					<th>操作</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="picture, iterStat : ${pageInfo.list}">
					<td th:text="${iterStat.count}"></td>
					<td th:text="${picture.picturename}"></td>
					<td th:text="${picture.picturetime}"></td>
					<td>
						<a href="#" th:href="@{/admin/pictures/{id}/input(id=${picture.id})}" class="ui mini teal basic button">编辑</a>
						<a href="#" th:href="@{/admin/pictures/{id}/delete(id=${picture.id})}" onclick="return confirm('你确定要删除该照片吗？')"
						   class="ui mini red basic button">删除</a>
					</td>
				</tr>
				</tbody>
				<tfoot>
				<tr class="ui center aligned">
					<th colspan="7">
						<div class="ui center aligned pagination menu">
							<div class="left aligned item"><a th:href="@{/admin/pictures}">首页</a></div>
							<div class="item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
							th:unless="${pageInfo.isFirstPage}">上一页</a> </div>
							<div class="item"><p><span th:text="${pageInfo.pageNum}"></span>/<span th:text="${pageInfo.pages}"></span></p></div>
							<div class="item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></div>
							<div class="right aligned item"><a th:href="@{/admin/pictures(pagenum=${pageInfo.pages})}">尾页</a></div>
						</div>
					</th>
				</tr>
				</tfoot>
			</table>
			<div class="ui success message" th:unless="${#strings.isEmpty(msg)}">
				<i class="close icon"></i>
				<div class="header">提示：</div>
				<p th:text="${msg}">恭喜，操作成功！</p>
			</div>
		</div>
	</div>
</div>


<!-- 底部 -->
<footer th:replace="_fragments :: footer"></footer>
<script th:replace="_fragments :: script"></script>

<!-- 此处Bug还未处理 -->
<script>
	$('.menu.toggle').click(function (){
		/* 将css样式进行切换 */
		$('.m-item').toggleClass('m-mobile-hide');
	});
	$('.ui.dropdown').dropdown({
		on: 'hover'
	});

	/*消息提示关闭初始化*/
	$('.message.close')
			.on('click', function (){
				$(this)
						.closest('.message')
						.transition('fade');
			});
</script>
</body>
</html>
