<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
	<title>标签管理</title>
</head>
<body>
	<nav th:replace="_fragments :: menu(3)"></nav>
	<!-- 中间内容 -->
	<div class="m-container-small m-padded-tb-big animated fade">
		<div class="ui container">
			<!-- header -->
			<div class="ui top attached segment">
				<div class="ui middle aligned two column grid">
					<div class="column">
						<h3 class="ui teal header">标签</h3>
					</div>
					<div class="right aligned column">
						共<h2 class="ui orange header m-inline-block m-text-thin">14</h3>个
					</div>
				</div>
			</div>
			<div class="ui attached segment m-padded-tb-large">
				<a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
					方法论
					<div class="detail">23</div>							
				</a>
				<a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
					方法论
					<div class="detail">23</div>							
				</a>
				<a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
					方法论
					<div class="detail">23</div>							
				</a>
				<a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
					方法论
					<div class="detail">23</div>							
				</a>
				<a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">
					方法论
					<div class="detail">23</div>							
				</a>
			</div>
			<div class="ui top attached teal segment">
				<div class="ui padded vertical segment m-padded-tb-big <m-mobile-lr-clear></m-mobile-lr-clear>">
					<div class="ui mobile reversed grid stackable">
						<div class="ui eleven wide column">
							<h3 class="ui header">夏目漱石心</h3>-
							<p>如果我是想象的那种人，我就不会那么痛苦了.如果我是想象的那种人，我就不会那么痛苦了.如果我是想象的那种人，我就不会那么痛苦了</p>
							<div class="ui stackable grid">
								<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" alt=""/>
												<div class="content">
													<a class="header">温伟忠</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i> 2017-10-01
											</div>
											<div class="item">
												<i class="eye icon"></i>2000
											</div>
										</div>
									</div>
									<div class="right aligned five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
									</div>
								</div>
								<div class="row">
									<div class="column">
										<a class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
									</div>
								</div>
								
							</div>
							
						</div>
						<div class="ui five wide column">
							<a href="#" target="_blank">
								<img class="ui rounded image" src="https://unsplash.it/800/400?image=1005" alt=""/>
							</a>
						</div>
					</div>
				</div>
				<div class="ui padded vertical segment m-padded-tb-big <m-mobile-lr-clear></m-mobile-lr-clear>">
					<div class="ui mobile reversed grid stackable">
						<div class="ui eleven wide column">
							<h3 class="ui header">夏目漱石心</h3>-
							<p>如果我是想象的那种人，我就不会那么痛苦了.如果我是想象的那种人，我就不会那么痛苦了.如果我是想象的那种人，我就不会那么痛苦了</p>
							<div class="ui stackable grid">
								<div class="row">
									<div class="eleven wide column">
										<div class="ui mini horizontal link list">
											<div class="item">
												<img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" alt=""/>
												<div class="content">
													<a class="header">温伟忠</a>
												</div>
											</div>
											<div class="item">
												<i class="calendar icon"></i> 2017-10-01
											</div>
											<div class="item">
												<i class="eye icon"></i>2000
											</div>
										</div>
									</div>
									<div class="right aligned five wide column">
										<a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
									</div>
								</div>
								<div class="row">
									<div class="column">
										<a class="ui basic teal left pointing label m-padded-mini m-text-thin">方法论</a>
									</div>
								</div>
								
							</div>
							
						</div>
						<div class="ui five wide column">
							<a href="#" target="_blank">
								<img class="ui rounded image" src="https://unsplash.it/800/400?image=1005" alt=""/>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- 分页 -->
			<div class="ui bottom attached segment">
				<div class="ui middle aligned two column grid">
					<div class="column">
						<button class="ui mini teal basic button">上一页</button>
					</div>
					<div class="right aligned column">
						<button class="ui mini teal basic button">下一页</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<footer th:replace="_fragments :: footer"></footer>
	<script th:replace="_fragments :: script"></script>
<!-- 此处Bug还未处理 -->
<script>
	$('.menu.toggle').click(function (){
		/* 将css样式进行切换 */
		$('.m-item').toggleClass('m-mobile-hide');
	});
</script>
</body>
</html>
