<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
	<title>关于我</title>
</head>

<!--静态页面-->
<body>
	<!-- 导航 -->
	<nav th:replace="_fragments :: menu(5)"></nav>
	<!-- 中间内容 -->
	<div class="m-container-small m-padded-tb-big animated fadeIn">
		<div class="ui container">
			<div class="ui stackable grid ">
				<div class="eleven wide column">
					<div class="ui segment">
						<img src="https://unsplash.it/800/600?image=1005" class="ui rounded image" />
					</div>
				</div>
				<div class="five wide column">
					<div class="ui top attached segment">
						<div class="ui header">关于我</div>
					</div>
					<div class="ui attached segment">
						<p class="m-text">温伟忠，一个java小白，一个跑者。</p>
						<p class="m-text">喜欢编程，喜欢跑步，喜欢听粤语歌，喜欢旅游</p>
						<p class="m-text">希望能认识更多志同道合的小伙伴！！！</p>
					</div>
					<div class="ui attached segment">
						<div class="ui orange basic left pointing label">编程</div>
						<div class="ui orange basic left pointing label">跑步</div>
						<div class="ui orange basic left pointing label">读书</div>
						<div class="ui orange basic left pointing label">听歌</div>
						<div class="ui orange basic left pointing label">看电影</div>
					</div>
					<div class="ui attached segment">
						<div class="ui teal basic left pointing label m-margin-tb-tiny">java</div>
						<div class="ui teal basic left pointing label m-margin-tb-tiny">ssm</div>
						<div class="ui teal basic left pointing label m-margin-tb-tiny">h5</div>
						<div class="ui teal basic left pointing label m-margin-tb-tiny">vue</div>
						<div class="ui teal basic left pointing label m-margin-tb-tiny">springboot</div>
					</div>
					<div class="ui bottom attached segment">
						<a href="#" class="ui circular icon button"><i class="github icon" ></i></a>
						<a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
						<a href="#" class="ui qq circular icon button" data-content="183366484" data-position="bottom center"><i class="qq icon"></i></a>
					</div>
					<div class="ui wechat-qr flowing popup transition hidden">
						<img src="static/images/wechat.png" alt="" class="ui rounded image" style="width: 100px;" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 底部 -->
	<footer  class="ui inverted vertical segment m-padded-tb-maxssive m-opacity-footer animated fadeInUp">
		<div class="ui center aligned container">
			<div class="ui inverted divided stackable grid">
				<div class="three wide column">
					<div class="ui inverted link list">
						<div class="item">
							<img class="ui rounded image" th:src="@{images/wechat.png}" alt="" style="width: 100px">
						</div>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header m-text-spaced">联系我</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Email:183366484@qq.com</a>
						<a href="#" class="item">QQ:183366484</a>
					</div>
				</div>
				<div class="ten wide column">
					<h4 class="ui inverted header m-text-spaced">喜欢的话</h4>
					<p class="m-text-lined m-text-spaced m-text-thin">
						我爱她，若我是她所希望的那种人，我就不会这么痛苦了。
					</p>
				</div>
			</div>
			<div class="ui inverted section divider"></div>
			<p class="m-text-lined m-text-spaced m-text-thin">
				粤ICP备2020102794号
			</p>
		</div>
	</footer>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!-- 此处Bug还未处理 -->
<script>
	$('.menu.toggle').click(function (){
		/* 将css样式进行切换 */
		$('.m-item').toggleClass('m-mobile-hide');
	});
	$('.qq').popup();
	$('.wechat').popup({
		popup: $('.wechat-qr'),
		on : 'hover',
		position: 'bottom center'
	});
</script>
</body>
</html>
